<%# Паршал дляотображения формы создания новой цели %>
<%= form_for(@target) do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: @target} %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :date %><br />
    <%= f.date_select :date,
                      {order: [:year, :month, :day],
                       prompt: { day: 'День', month: 'Месяц', year: 'Год' },
                       start_year: Date.today.year + 10, end_year: Date.today.year - 100},
                      {required: true} %>
  </div>

  <div class="form-group">
    <%= f.radio_button :status, 0 %>
    <%= label :status_incomplete, 'Цель в прогрессе...' %><br />
    <%= f.radio_button :status, 1 %>
    <%= label :status_complete, 'Цель достигнута!' %>
  </div>

  <h3>Шаги</h3>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-group steps">
        <%= f.fields_for :steps do |step| %>
          <%= render 'step_fields', f: step %>
        <% end %>
        <div class="links">
          <h4><%= link_to_add_association 'Добавить шаг', f, :steps, class: "label label-success" %></h4>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
    <%= link_to 'Назад', :back, class: 'btn btn-default' %>
  </div>
<% end %>