<div class="col-md-12 brd">
  <div class="text-bold">
    <h1><%= @target.title %></h1>
    <hr>
  </div>
  <%= @target.description %>
  <% if current_user %>
    <%= link_to "Изменить", edit_target_path, class: 'btn btn-primary' %>
    <%= link_to "Удалить", target_path(@target),
                :method => :delete,
                data: {confirm: 'Точно удалить эту цель?'},
                class: 'btn btn-danger' %>
  <% end %>
</div>

<div class="col-md-4">
  <%= render partial: 'comments/form', locals: {comment: @new_comment || @target.comments.build} %>
</div>

<div class="col-md-4">
  <%= render partial: 'comments/comment', collection: @target.comments.except(@new_comment) %>
</div>


