<div class="col-md-9 target-form-border container">
  <div class="">
    <h1><%= @target.title %></h1>
    <%= l @target.created_at, format: :long %>
    <hr>
  </div>
  <h3><%= l @target.date, format: :long %></h3>

  <% if current_user_can_edit?(@target) %>
    <%= link_to "Изменить", edit_target_path, class: 'btn btn-primary' %>
    <%= link_to "Удалить", target_path(@target),
                :method => :delete,
                data: {confirm: 'Точно удалить эту цель?'},
                class: 'btn btn-danger' %>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 target-form-border">
      <%= render partial: 'comments/form', locals: {comment: @new_comment || @target.comments.build} %>
    </div>

    <div class="col-md-4">
      <%= render partial: 'comments/comment', collection: @target.comments.except(@new_comment) %>
      </div>
  </div>
</div>


