<div class="col-md-12 container">
  <%= content_tag :div, class: (@target.status == 1 ? "target-border-success" : "target-border") do %>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag user_avatar(@user), class: 'img-medium thumbnail' %>
      </div>

      <div class="col-md-8">
        <h1><%= @target.title %></h1>
        <%= l @target.created_at, format: :long %>
        <h3><%= l @target.date, format: :long %></h3>
        <%= content_tag :span, class: (@target.status == 1 ? "label label-success" : "label label-primary") do %>
          <% if @target.status == 1 %> Успех <% else %> В прогрессе <% end %>
        <% end %>
        <hr>

        <% if current_user_can_edit?(@target) %>
          <%= link_to "Изменить", edit_target_path, class: 'btn btn-primary' %>
          <%= link_to "Удалить", target_path(@target),
                      :method => :delete,
                      data: {confirm: 'Точно удалить эту цель?'},
                      class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="container">
  <div class="col-md-6 comment-form-border">
    <%= render partial: 'comments/form', locals: {comment: @new_comment || @target.comments.build} %>
  </div>

  <div class="col-md-6">
    <%= render partial: 'comments/comment', collection: @target.comments.except(@new_comment) %>
  </div>
</div>
