<% commentable.each do |comment| %>
  <div class="col-md-6">
    <div class="comment-border">
      <div class="text-S text-bold buffer-bottom">
        <%= comment.body %>
      </div>

      <div class="text-muted buffer-bottom-mini">
        <span><%= render partial: 'users/user', object: comment.user if comment.user %></span>
        <div class="text-muted buffer-top-mini">
          <%= l comment.created_at, format: :long, class: "" %>
        </div>
      </div>

        <%# удалять комментарии может автор этого комментария и пользователь на странице которого они оставлены %>
      <% if current_user_can_edit?(comment) || @user == current_user %>
        <%= link_to "Ответ",
                    (request.path == user_path(@user) ? user_comment_path(comment.commentable, comment) :
                         target_comment_path(comment.commentable, comment)),
                    method: :delete,
                    data: {confirm: t('.destroy_confirm')},
                    class: "label label-info" %>

        <%= link_to "Удалить",
                    (request.path == user_path(@user) ? user_comment_path(comment.commentable, comment) :
                         target_comment_path(comment.commentable, comment)),
                    method: :delete,
                    data: {confirm: t('.destroy_confirm')},
                    class: "label label-danger" %>
      <% end %>
    </div>
  </div>
<% end %>