<%# паршал формы коммента %>
<%= form_for [@commentable, @comment] do |f| %>
  <%= render partial: 'partials/form_errors', locals: { model: @comment } %>

  <%# тело комментария %>
  <div class="form-group">
    <%= f.label "Оставить новый комментарий" %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>

  <%# кнопка "отправить" %>
  <div class="actions">
    <%= f.submit 'Создать', class: 'btn btn-primary' %>
  </div>
<% end %>