<%# Представление на странице пользователя %>
<div class="container">
  <div class="col-md-4">
    <%= image_tag user_avatar(@user), class: 'img-medium thumbnail' %>
  </div>

  <div class="col-md-8">
    <div class="text-title">
      <%= @user.name %>
    </div>
    <%= link_to "Редактировать профиль", edit_user_path, class: 'btn btn-default buffer-bottom' if @user == current_user %>
    <% target_completed = [] %>
      <% @targets.each do|target| %>
      <% target_completed << target if target.status == 1 %>
    <% end %>

    <div class="row buffer-top">
      <div class="col-md-4">
        <div class="text-L ">
          <span class="label label-success">Достигнутые: <%= target_completed.size %></span>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-L ">
          <span class="label label-primary">В прогрессе: <%= (@targets - target_completed).size %></span>
        </div>
      </div>

      <div class="col-md-4">
        <div class="text-L ">
          <span class="label label-default">Всего: <%= @targets.size %></span>
        </div>
      </div>
    </div>

    <ul class="nav nav-tabs buffer-top-max text-bold text-M">
      <%= content_tag :li, class: (params[:user_tab] == nil ? "active" : "") do %>
        <%= content_tag :a, href: user_path(@user) do %>
          <span class="glyphicon glyphicon-star-empty"></span>
          Цели и достижения
        <% end %>
      <% end %>
      <%#= content_tag :li, class: (params[:user_tab] == 'finance' ? "active" : "") do %>
        <%#= content_tag :a, href: user_path(user_tab: 'finance') do %>

        <%# end %>
      <%# end %>
      <%= content_tag :li, class: (params[:user_tab] == 'comments' ? "active" : "") do %>
        <%= content_tag :a, href: user_path(user_tab: 'comments') do %>
          <span class="glyphicon glyphicon-comment"></span>
          Комментарии
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

<div class="container">
  <% if params[:user_tab] == nil %>
    <div class="col-md-6">
      <div class="thumbnail text-center text-L buffer-top"><p>Я хочу</p></div>
        <%# Рендерим сразу массив целей, каждый в паршиале 'targets/target' %>
      <% @targets.order(:created_at).reverse_order.each do |target| %>
        <%= render partial: 'targets/target', object: target if target.status == 0 %>
      <% end %>
    </div>

    <div class="col-md-6">
      <div class="thumbnail text-center text-L buffer-top"><p>Я достиг</p></div>
      <% @targets.order(:created_at).reverse_order.each do |target| %>
        <%= render partial: 'targets/target', object: target if target.status == 1 %>
      <% end %>
    </div>

  <%# elsif params[:user_tab] == 'finance' %>

  <% elsif params[:user_tab] == 'comments' %>
    <div class="container">
      <div class="col-md-5 comment-form-border">
        <%= render partial: 'comments/form', locals: { commentable: @user } %>
      </div>

      <div class="col-md-7">
        <%= render partial: 'comments/comments', locals: { commentable: @user } %>
      </div>
    </div>
  <% end %>
</div>

