<%# Представление на странице пользователя %>
<div class="container">
  <div class="col-md-4">
    <%= image_tag user_avatar(@user) %>
  </div>

  <div class="col-md-8">
    <h1><%= @user.name %></h1>
    <%= link_to "Редактировать профиль", edit_user_path, class: 'btn btn-default' if @user == current_user %><br />
    <%= link_to "Моя цель", new_target_path, class: 'btn btn-success button-round' if @user == current_user %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="text-center"><h1>Мои достижения</h1></div>

    <div class="col-md-6">
      <%# Рендерим сразу массив целей, каждый в паршиале 'targets/target' %>
      <% @targets.each do |target| %>
        <%= render partial: 'targets/target', object: target if target.status == 0 %>
      <% end %>
    </div>

    <div class="col-md-6">
      <% @targets.each do |target| %>
        <%= render partial: 'targets/target', object: target if target.status == 1 %>
      <% end %>
    </div>
  </div>
</div>